<nav>
    <ul class="navbar">
      <li><a href="#">Inicio</a></li>
      <li><a href="reservas">Reservas</a></li>
      <li><a href="perfil">Perfil</a></li>
      <li><a href="login">Iniciar Sesion</a></li>
    </ul>
  </nav>
<div class="rooms-section">
    <h2>Administración de Habitaciones</h2>
    <button (click)="openModal(null)" class="add-room-btn">Agregar Nueva Habitación</button>
    <div class="rooms-container">
        <div class="room-card" *ngFor="let room of rooms">
            <img [src]="room.imageUrl" alt="{{ room.name }}">
            <div class="room-info">
                <h3>Nombre: {{ room.name }}</h3>
                <p>Disponible: {{ room.is_available }}</p>
                <p>Capacidad: {{ room.capacidad }}</p>
                <p>Creada: {{ room.created_at }}</p>
                <p>Editada: {{ room.updated_at }}</p>
                
                <p><strong>Precio: ${{ room.price }} por noche</strong></p>
                <button (click)="openModal(room)">Editar</button>
                <button (click)="deleteRoom(room)">Eliminar</button>
            </div>
        </div>
    </div>

  <!-- Modal -->
<div id="roomModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ currentRoom ? 'Editar Habitación' : 'Agregar Nueva Habitación' }}</h2>

        <label for="name">Nombre de la Habitación:</label>
        <input id="name" [(ngModel)]="tempRoom.name" type="text" placeholder="Nombre de la habitación" required>
        <br>

        <label for="descripcion">Descripción:</label>
        <input id="descripcion" [(ngModel)]="tempRoom.description" type="text" placeholder="Descripción de la habitación" required>
        <br>

        <label for="precio">Precio:</label>
        <input id="precio" [(ngModel)]="tempRoom.price" type="number" placeholder="Precio de la habitación" required>
        <br>

        <label for="imageUrl">URL de la Imagen:</label>
        <input id="imageUrl" [(ngModel)]="tempRoom.imageUrl" type="text" placeholder="URL de la imagen" required>
        <br>

        <label for="capacidad">Capacidad:</label>
        <input id="capacidad" [(ngModel)]="tempRoom.capacidad" type="number" placeholder="Capacidad de la habitación" required>
        <br>

        <label for="available">Disponible:</label>
        <select id="available" [(ngModel)]="tempRoom.is_available">
            <option [ngValue]="true">Sí</option>
            <option [ngValue]="false">No</option>
        </select>
        <br>

        <button (click)="saveRoom()">Guardar</button>
    </div>
</div>


